.one_section_parent {
  margin: 52px 135px;
  margin-bottom: 185px;
  padding-top: 100px;
}
.one_section_parent > p {
  font-size: 150px;
  font-weight: 400;
  line-height: 142px;
  color: #f7f7f7;
}
.one_section_parent .one_section_child_one {
  display: flex;
  justify-content: space-between;
}
.one_section_parent .one_section_child_one_left_small-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #FD8558;
}
.one_section_parent .one_section_child_one_left_big-text {
  font-size: 40px;
  font-weight: 400;
  line-height: 54px;
  color: #333;
  max-width: 437px;
}
.one_section_parent .one_section_child_one_left_more-big-text {
  font-size: 40px;
  font-weight: 400;
  line-height: 54px;
  color: #333;
  max-width: 480px;
}
.one_section_parent .one_section_child_one_right_text_top {
  max-width: 565px;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #222;
  margin-bottom: 11px;
}
.one_section_parent .one_section_child_one_right_text_buttom {
  max-width: 591px;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  color: #999;
}
.one_section_parent .one_section_child_two {
  display: flex;
  align-items: center;
  margin-top: 80px;
  gap: 120px;
}
.one_section_parent .one_section_child_two_left > img {
  width: 600px;
  height: 401px;
  border: 5px solid black;
}
.one_section_parent .one_section_child_two_right_top {
  max-width: 387px;
  font-size: 26px;
  line-height: 45px;
  color: #222;
}
.one_section_parent .one_section_child_two_right_top span {
  color: #FD8558;
}
.one_section_parent .one_section_child_two_right_middle {
  font-size: 26px;
  line-height: 45px;
  color: #222;
  margin-top: 80px;
}
.one_section_parent .one_section_child_two_right_buttom {
  font-size: 12px;
  line-height: 21px;
  color: #CACACA;
  margin-top: 20px;
}